In [1]:
#Q1 Create myTuple tuple with the follwoing values ("NPower","JDA","Tuesday",30,3,2021)
myTuple = ("NPower","JDA","Tuesday",30,3,2021)

In [2]:
#Q2 What is the type of myTuple
print(type(myTuple))

<class 'tuple'>

In [3]:
#Q3 What is the length of myTuple
print(len((myTuple)))

6

In [5]:
#Q4 print the values in each index #Use regular indexing 
print(myTuple[0])
print(myTuple[1])
print(myTuple[2])
print(myTuple[3])
print(myTuple[4])
print(myTuple[5])

NPower
JDA
Tuesday
30
3
2021

In [6]:
#Q5 print the values in each index #Use negative indexing 
print(myTuple[-1])
print(myTuple[-2])
print(myTuple[-3])
print(myTuple[-4])
print(myTuple[-5])
print(myTuple[-6])

2021
3
30
Tuesday
JDA
NPower

In [8]:
#Q6 what is the type of each value
print(type(myTuple[0]))
print(type(myTuple[1]))
print(type(myTuple[2]))
print(type(myTuple[3]))
print(type(myTuple[4]))
print(type(myTuple[5]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>

In [9]:
#Q7 unpack myTuple in the follwoeing variables name,program,dayName,month,day,year accordingly 
# print the variables 
name = myTuple[0]
program = myTuple[1]
dayName = myTuple[2]
month = myTuple[3]
day = myTuple[4]
year = myTuple[5]

print(name)
print(program)
print(dayName)
print(month)
print(day)
print(year)

NPower
JDA
Tuesday
30
3
2021

In [ ]:
#Q8 unpack myTuple2 in the follwoeing variablesname,program,dayName.
# What will happen to variables (name,program,dayName) and (month,day,year)

In [10]:
# Note the following
Tuple1=("Jerry",2,89) #This is a tuple with 3 elements 
Tuple2=("Ulan")#This is a tuple with 1 element
test="Leul" #This is a VARIABLE with string value

a,b,c=Tuple1
print("Type a",type(a))
print(a,b,c)

d=Tuple2
print(type(d))
print(d)

e=test
print(e)

Type a <class 'str'>
Jerry 2 89
<class 'str'>
Ulan
Leul

In [11]:
#Tuples are immutable
#we can always make the testTuple variable reference a new tuple in the memory 
#and holding different information

testTuple=(1,2,3)
print(testTuple)

testTuple=(4,5,6)
print(testTuple)

#But we can't change or edit a value for the existing tuple

testTuple[0]=6 #ERROR 'tuple' object does not support item assignment

(1, 2, 3)
(4, 5, 6)

TypeError: 'tuple' object does not support item assignment

In [15]:
#Q9 Reverse myTuple, output should looks like ("NPower","JDA","Tuesday",30,3,2021)
a,b,c,d,e,f = myTuple
print(a,b,c,d,e,f)
myTuple = f,e,d,c,b,a
print(myTuple)

2021 3 30 Tuesday JDA NPower
('NPower', 'JDA', 'Tuesday', 30, 3, 2021)

In [16]:
#Q10 Create nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
nestedTuple

(('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

In [19]:
#Q11 What is the output of nestedTuple[1:2]
nestedTuple[1:2]

(('week', (2, 'Lists', 'Tuple')),)

In [22]:
#Q12 print each element in the nestedTuple
len(nestedTuple)
print(nestedTuple[0])
print(nestedTuple[1])

('Coursera', 'course', 6)
('week', (2, 'Lists', 'Tuple'))

In [23]:
#Q13 Access (2,"Lists","Tuple") from nestedTuple
nestedTuple[1][1]

(2, 'Lists', 'Tuple')

In [24]:
#Q14 Access "Lists" from nestedTuple
nestedTuple[1][1][1]

'Lists'

In [25]:
#Q15 Access "Tuple" from nestedTuple
nestedTuple[1][1][2]

'Tuple'

In [26]:
#Q16 Access "course" from nestedTuple
nestedTuple[0][1]

'course'

In [28]:
#Q17 Concatenate myTuple with nestedTuple
newTuple = myTuple+nestedTuple

In [29]:
#Q18 add your name to the tuple
newTuple+('Ola',)

('NPower',
 'JDA',
 'Tuesday',
 30,
 3,
 2021,
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')),
 'Ola')

In [33]:
#Q19 check whether Coursera exists within a myTuple

# NOTE in doesn't work properly with nested tuples # Wrong output
'Coursera' in nestedTuple

False

In [34]:
#Q20 check whether an element exists within a testTuple
testTuple = ('1', 2, 4)
2 in testTuple

True

In [32]:
#Q21 Find the index of JDA in myTuple


# Find the index of 'Coursera' in myTuple
# NOTE index doesn't work properly with nested tuples # Wrong output
myTuple.index('JDA')

1

In [35]:
#Q22 print index 8 from myTuple
myTuple[8]

IndexError: tuple index out of range

In [37]:
#Q23 Get the 4th element and 4th element from last of a myTuple
print(myTuple[3])
print(myTuple[-4])

30
Tuesday

In [39]:
#Q24 Find how many times 27 appeared in the tuple [Hint: Use method count()]
myTuple.count(27)

0